<!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

      <app-navbar></app-navbar>

      <app-sideebar></app-sideebar>

          <!-- ============================================================== -->
          <!-- Page wrapper  -->
          <!-- ============================================================== -->
          <div class="page-wrapper">

              <!-- ============================================================== -->
              <!-- Container fluid  -->
              <!-- ============================================================== -->
              <div class="container-fluid">

                  <!-- aqui va el routere outlet -->
                  <router-outlet></router-outlet>

              </div>
              <!-- ============================================================== -->

          </div>


</div>
<!-- ============================================================== -->
