
<div class="text-right">
        <button  routerLink="/nuevainversion" routerLinkActive="router-link-active"  class="m-t-10 m-b-20 waves-effect waves-dark btn btn-success btn-md btn-rounded ">Solicitar una Inversion</button>
</div>
<div class="row mt-5">


  <!--Little Profile widget-->
<div *ngFor="let inversion of inversiones, index as i" class="col-lg-3 col-xlg-3">
    <div class="card">
        <div class="card-body little-profile text-center">
            <div class="pro-img m-t-20"><img src="../assets/images/users/4.jpg" alt="user"></div>
            <h3 class="m-b-0">Empresa</h3>
            
            <h6 class="text-muted">Persona solicitante</h6>
            
        </div>
        <div class="text-center bg-light">
            <div class="row">

                <div class="col-lg-6 col-md-6  p-20 b-r">
                    <h4 class="m-b-0 font-medium">s/ {{inversion.monto}}</h4><small>Monto</small></div>
                <div class="col-lg-6 col-md-6  p-20">
                    <h4 class="m-b-0 font-medium">{{inversion.plazo}}</h4><small>Dias</small></div>
                <div class="col-lg-6 col-md-6  p-20 b-r">
                    <h4 class="m-b-0 font-medium">{{inversion.taza}} %</h4><small>TR</small></div>
                <div class="col-lg-6 col-md-6  p-20">
                    <h4 class="m-b-0 font-medium">{{inversion.cuotas}}</h4><small>Cuotas</small></div>

                <div class="col-lg-6 col-md-6  p-20">
                    <h4 class="m-b-0 font-medium">{{fechamostrada[i]}}</h4><small>Dias</small></div>


            </div>
        </div>
        <div class="card-body text-center">
            <button  (click)="verInformacion(inversion)" routerLinkActive="router-link-active"  class="m-t-10 m-b-20 waves-effect waves-dark btn btn-success btn-md btn-rounded">Ver mas</button>
        </div>
    </div>
</div>



</div>

